.reveals-main {
  width: 100%;
  height: 25%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
margin-top:100pt;
 
}
.reveals-main > div {
  font-weight: 800;
  font-size: 4em;
  will-change: transform, opacity;
  overflow: hidden;
padding: 1cm;
color:indianred;
}