@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("background2.png");
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/*!*Table Header*!*/
/*th {*/
/*  background-color: rgb(90, 93, 99);*/
/*}*/

/*!*Table entry with uneven index*!*/
/*tr.light{*/
/*  background: rgba(150, 150, 150, 0.5);*/
/*  color: white;*/
/*}*/

/*!*Table entry with even index*!*/
/*tr.dark{*/
/*  background: rgba(100, 100, 100, 0.5);;*/
/*  color: white;*/
/*}*/

/*Table entry for winner on endscreen*/
tr.winner{
  background: rgba(0, 255, 0, 0.8);;
  color: white;
  padding: 5pt;
}

.animated-gradient {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow-y: scroll;

  /*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);*/
  background: linear-gradient(-45deg, #5d01ad, #1c22ff, #1ab8cf, #00da8d);

  background-size: 200% 200%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}

.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
